.main .tools .button {
    /*-fx-padding: 2px 4px;*/
}

.main .tools .button-table {
    -fx-graphic: url(icons/table.png);
    -fx-graphic-text-gap: 2px;
    -fx-content-display: left; /* graphic-only; */
}
          
.main .tools .button-values {
}
