.calculated-ui .description {
    -fx-padding: 10px;
    -fx-wrap-text: true;

    -fx-background-color: rgba(255, 233, 0, 0.16);
    -fx-background-radius: 5px;
    
    -fx-border-color: rgba(210, 151, 0, 0.16);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.calculated-ui .button-delete {
    /*-fx-graphic: url(../../icons/table.png);*/
    -fx-content-display: left /*graphic-only*/;
}

.calculated-ui .button-add {
    /*-fx-graphic: url(../../icons/table.png);*/
    -fx-content-display: left /*graphic-only*/;
}

.calculated-ui .table .weight-grid-pane {
    horizontal-space: 5px;
    vertical-space: 5px;
}