.calculated-ui .button-delete {
    /*-fx-graphic: url(../../icons/table.png);*/
    -fx-content-display: left /*graphic-only*/;
}

.calculated-ui .button-add {
    /*-fx-graphic: url(../../icons/table.png);*/
    -fx-content-display: left /*graphic-only*/;
}

.calculated-ui .table .weight-grid-pane {
    horizontal-space: 5px;
    vertical-space: 5px;
}